<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <!-- Bootstrap -->
    <link href="../../assets/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../assets/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="span10">
          <table class="table table-stripped">
            <caption>Teste</caption>
            <thead>
              <tr>
                <th>Teste1</th>
                <th>Teste2</th>
              </tr>
            </thead>
            <tbody>
              <% @users["response"].each do |response| %>
              <tr>
                <td><%= @users["login"] %></td>
                <td><%= response %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
       
      </div><!-- .row -->
    </div><!-- .container -->
  </body>
</html>